body {
    background-image: url("images/bg-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
/* -------------header-----------*/

.search{
    width: 50%;
    height: 30px;
}

/*----------main------------------*/
#humidite-icon , #vent-icon{
    width: 10%;
}
.container{
    box-shadow: inset 5px 5px 5px 1000px rgba(226, 232, 235, 0.6);
    width: 70%;
    height: 400px;
    color: black;
}
.form-control{
    width: 30%;
}
/*  ---------scroll------------- */
.footer{
    height: 300px;
    overflow-x: auto;
    flex-wrap: nowrap;
}
.footer .ietm{
    width: 150px;
    height: 200px;
   flex-shrink: 0;
   color: black;
   margin: 0px 5px;
   box-shadow: inset 5px 5px 5px 1000px rgba(226, 232, 235, 0.6);
}
 